body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

p {
  margin: 5px;
}

a {
  text-decoration: none;
}

.business-card {
  background-color: olive;
  width: 300px;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
}

.profile-image {
  max-width: 100%;
  border: solid black 5px;
  border-radius: 20px

}

.full-name {
  font-family: trebuchet;
  font-size: 25px
}

.company {
  font-size: 15px
}